/* 헤더 전체 */
.shinHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #101627;
  border-bottom: 1px solid #272729;
  z-index: 9999;
  isolation: isolate;
}

/* 내부 컨테이너 */
.shinHeaderInner {
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shinHeaderInner h1 {
  font-size: 20px;
}

/* 로고 */
.shinLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shinLogo a {
  text-decoration: none;
  color: #fc64b3;
}

/* nav + toggle */
.shinNavGroup {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  margin-left: 120px;
}

/* 네비게이션 */
.shinNav {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 18px;
}

.shinNav a {
  color: #fff;
  text-decoration: none;
}

/* 토글 스위치 */
.shinToggleSwitch {
  background-color: #364152;
  width: 60px;
  height: 34px;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

/* 동그라미 */
.shinToggleCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
  background-color: #f6339a;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.35s ease;
}

/* 토글 아이콘 */
.shinToggleCircle img {
  height: 20px;
}

/* sun 페이지 → 왼쪽 */
.shinToggleSwitch.sun .shinToggleCircle {
  transform: translateX(0);
}

/* shin 페이지 → 오른쪽 */
.shinToggleSwitch.shin .shinToggleCircle {
  transform: translateX(26px);
}

/* 모바일 */
@media (max-width: 768px) {
  .shinHeaderInner {
    padding: 0 20px;
  }

  .shinNav {
    gap: 8px;
    font-size: 14px;
  }

  .shinLogo {
    font-size: 16px;
  }
}
