.sunSkillSection {
  background-color: #fffbea;
  padding: 120px;
}
/* 스킬 그리드 */
.skillGrid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 27px;
  text-align: left;
  justify-content: center;
}

/* 스킬 카드 */
.skillCard {
  padding: 20px 24px;
  border-radius: 10px;
  background: hsl(17, 37%, 96%);
  border: 1px solid #dcdfe6;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.skillCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 40px rgba(99, 102, 241, 0.2);
}

/* 카테고리 제목 */
.skillCard h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #9258ff;
}

/* 기술 태그 */
.skillCard span {
  display: inline-block;
  margin: 3px;
  padding: 8px 16px;
  font-size: 14px;

  color: #384354;
  background: #f9f8fa;
  border-radius: 10px;
}

/* 반응형 */
@media (max-width: 1024px) {
  .skillGrid {
    grid-template-columns: repeat(2, 280px);
  }
}

@media (max-width: 768px) {
  .skillGrid {
    grid-template-columns: 1fr;
  }

  .skillCard {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
}
