/* 헤더 전체 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #101627;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

/* 내부 컨테이너 */
.headerInner {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerInner h1 {
  font-size: 20px;
}

/* 로고 영역 */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fc64b3;
}
/* 네비 / 토글 영역 */
.nav {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 18px;
}

.nav a {
  color: #ffff;
  text-decoration: none;
}

.toggleSwitch {
  width: 60px;
  height: 32px;
  background: #1e293b;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 20px;
}

/* 움직이는 동그라미 */
.toggleCircle {
  width: 26px;
  height: 26px;
  background: #f6339a;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: 0.3s ease;
}

/* sun 상태 */
.toggleSwitch.sun .toggleCircle {
  transform: translateX(28px);
}

/* hover 효과 */
.toggleSwitch:hover {
  box-shadow: 0 0 12px rgba(246, 51, 154, 0.4);
}

/* 모바일 대응 */
@media (max-width: 768px) {
  .nav {
    gap: 8px;
  }

  .logo {
    font-size: 16px;
  }
}
