/* 헤더 전체 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #dcdfe6;
  z-index: 9999;
  isolation: isolate;
  background-color: #fffbea;
}

/* 내부 컨테이너 */
.headerInner {
  padding: 0 80px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 로고 */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #7f22fe;
}

.logo a {
  text-decoration: none;
  font-size: 20px;
}

/* nav + toggle */
.navGroup {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 10px 20px;
  border-radius: 50px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
}

/* nav */
.nav {
  display: flex;
  align-items: center;
  gap: 16px;

  font-size: 18px;
}

.nav a {
  color: #364153;
  text-decoration: none;
}

/* 토글 */
.toggleSwitch {
  background-color: #ddd6ff;

  width: 60px;
  height: 34px;

  border-radius: 999px;

  position: relative;
  cursor: pointer;
}

/* 동그라미 */
.toggleCircle {
  width: 30px;
  height: 30px;

  border-radius: 50%;

  position: absolute;
  top: 2px;
  left: 3px;

  transition: transform 0.35s ease;

  background-color: #8e51ff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleCircle img {
  width: 20px;
  height: 20px;
}

/* 토글 위치 */
.toggleSwitch.sun .toggleCircle {
  transform: translateX(0);
}

.toggleSwitch.shin .toggleCircle {
  transform: translateX(36px);
}
@media (max-width: 768px) {
  .headerInner {
    padding: 0 20px;
  }

  /* nav 숨김 */
  .nav {
    display: none;
  }

  /* navGroup 밀림 제거 */
  .navGroup {
    margin-left: 0;
  }

  .logo {
    font-size: 16px;
  }
}
