/* 헤더 전체 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fffbea;
  border-bottom: 1px solid #dcdfe6;
  z-index: 9999;
  isolation: isolate;
}

/* 내부 컨테이너 */
.headerInner {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerInner h1 {
  font-size: 20px;
}

/* 로고 영역 */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #7f22fe;
}
.logo a {
  text-decoration: none;
}
/* 네비 / 토글 영역 */
.navGroup {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  margin-left: 120px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 18px;
}

.nav a {
  color: #364153;
  text-decoration: none;
}
/* 토글 전체 */
.toggleSwitch {
  background-color: #ddd6ff;
  width: 60px;
  height: 34px;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

/* 동그라미 */
.toggleCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
  transition: transform 0.35s ease;
  background-color: #8e51ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggleCircle img {
  width: 20px;
  height: 20px;
}

/* 🔥 sun 페이지 → 왼쪽 */
.toggleSwitch.sun .toggleCircle {
  transform: translateX(0);
}

/* 🔥 shin 페이지 → 오른쪽 */
.toggleSwitch.shin .toggleCircle {
  transform: translateX(36px);
}

/* 모바일 대응 */
@media (max-width: 768px) {
  .nav {
    gap: 8px;
  }

  .logo {
    font-size: 16px;
  }
}
